{% extends "_layout" %}
{% set bodyClass = "index" %}

{% block content %}
	{# {% cache until midnight %}{% minify %} #}

	{# {% endminify %}{% endcache %} #}

	{% set img = entry.toppbilde.first | default(false) %}
	{% set bilde = craft.imager.transformImage(img.url, [
		{ height: 360 },
		{ width: 840, height: 400 },

		{ width: 1360, height: 530 },
		], { mode: 'crop', position: img.fokuspunkt | default('50% 50%') }) %}


	<section class="row pageTop designblock">
		<img class="lazyload" src="{{ craft.imager.base64Pixel(16, 9) }}" data-srcset="{{bilde[0].url}} 400w, {{bilde[1].url}} 767w, {{bilde[2].url}}" alt="{{img.title | default("")}}">

		<div class="designblock tekst">
			<span class="silhouette">
				{{craft.inlin.er('/static/svg/symbols/icon-silhouette.svg') | raw }}
			</span>

			<h1>{{entry.tittel}}</h1>
			<p>{{entry.rikTekst}}</p>
		</div>

	</section>

	{% set apningstiderOgBooking = entry.apningstiderOgBooking %}

	<section class="row designblock apningstider">

		<article class="designblock first">
			<h2>{{apningstiderOgBooking[0].tittel}}</h2>
			{{craft.inlin.er(apningstiderOgBooking[0].ikon[0].url, true) | raw }}
			{{apningstiderOgBooking[0].rikTekst}}
			<span class="knapp">{{apningstiderOgBooking[0].knapp}}</span>
		</article>

		<article class="designblock second">
			<h2>{{apningstiderOgBooking[1].tittel}}</h2>
			{{craft.inlin.er(apningstiderOgBooking[1].ikon[0].url, true) | raw }}
			{{apningstiderOgBooking[1].rikTekst}}
			<span class="knapp">{{apningstiderOgBooking[1].knapp}}</span>
		</article>

	</section>

	<section class="row designblock enkel menyer">
		<article class="tekst">
			{{entry.vareMenyer.tekst}}
		</article>

		<article class="fargeblokk">
			{{craft.inlin.er(entry.vareMenyer.ikon[0].url, true) | raw }}
			<h3>Våre menyer</h3>
			<table>
				<tbody>
					{% for meny in entry.vareMenyer.menyer %}
						<tr>
							<td>{{meny.title}}</td>
							<td>{{meny.renTekst}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<p>Les mer</p>
		</article>
	</section>

	{% for blokk in entry.blokkerNeo.level(1) %}
		<section class="row designblock {% if blokk.mellomrom == 0 %} nospacing {% endif %} block-parent {{loop.index}}{% if loop.index == 1 %} first {% endif %}">

			{% switch blokk.type.handle %}

					{% case 'topp' %}

						{% import '_admin/_designblocks' as designBlokkmacro %}
						{{ designBlokkmacro.designblocks(blokk) }}

					{% case 'tekstOgBilde' %}
						{% import '_admin/_designblocks' as designBlokkmacro %}
						{{ designBlokkmacro.designblocks(blokk) }}

					{% case 'svartBoks' %}
						{% import '_admin/_designblocks' as designBlokkmacro %}
						{{ designBlokkmacro.designblocks(blokk) }}

					{% case 'menyer' %}

						{% import '_admin/_restaurantmeny' as designBlokkmacro %}
						{{ designBlokkmacro.designblocks(blokk.menyEntry) }}

				{% endswitch %}

		</section>
	{% endfor %}

	{# BOOKING #}
	<section class="row booking designblock">
		<div id="booking-map">
			<script>
				var map_lat = Number('{{ entry.booking.map.lat }}');
				var map_lng = Number('{{ entry.booking.map.lng }}');
			</script>
			<img src="/static/img/map.png">
		</div>
		<aside id="kontaktskjema" class="designblock">
			<h2>{{entry.booking.tittel}}</h2>
			{{craft.inlin.er(entry.booking.ikon[0].url, true) | raw }}
			{{entry.booking.tekst}}
			{{ craft.sproutForms.displayForm('contact') }}
		</aside>
	</section>

{% endblock %}
