{% extends "_layout" %}
{% set bodyClass = "index" %}

{% block content %}
	{# {% cache until midnight %}{% minify %} #}

	{# {% endminify %}{% endcache %} #}

	{% set img = entry.toppbilde.first | default(false) %}
	{% set bilde = craft.imager.transformImage(img, [
		{ width: 320, height: 200 },
		{ width: 840, height: 400 },
		{ width: 1680, height: 530 },
		], { ratio:"16/9" }) %}


	<section class="row pageTop designblock">
		<img class="lazyload" src="{{ craft.imager.base64Pixel(16, 9) }}" data-srcset="{{bilde[0].url}} 400w, {{bilde[1].url}} 767w, {{bilde[2].url}}" alt="{{img.title | default("")}}">

		<div class="designblock tekst">
			<span class="silhouette">
				{{craft.inlin.er('/static/svg/symbols/icon-silhouette.svg') | raw }}
			</span>

			<h1>{{entry.tittel}}</h1>
			<p>{{entry.rikTekst}}</p>
		</div>

	</section>

	{% set apningstiderOgBooking = entry.apningstiderOgBooking %}

	<section class="row designblock apningstider">

		<article class="designblock first">
			<h2>{{apningstiderOgBooking[0].tittel}}</h2>
			{{craft.inlin.er(apningstiderOgBooking[0].ikon[0].url, true) | raw }}
			{{apningstiderOgBooking[0].rikTekst}}
			<span class="knapp">{{apningstiderOgBooking[0].knapp}}</span>
		</article>

		<article class="designblock second">
			<h2>{{apningstiderOgBooking[1].tittel}}</h2>
			{{craft.inlin.er(apningstiderOgBooking[1].ikon[0].url, true) | raw }}
			{{apningstiderOgBooking[1].rikTekst}}
			<span class="knapp">{{apningstiderOgBooking[1].knapp}}</span>
		</article>

	</section>

	{% for blokk in entry.restaurant %}
		{% if blokk.type == 'enkel'%}
			<section class="row designblock enkel">
				<article class="designblock tekst">
					<h2>{{blokk.overskrift}}</h2>
					{{blokk.tekst}}
				</article>

				<article class="designblock bilde">
					<img src="/static/img/designblockbilde.jpg">
				</article>
			</section>

		{% else %}

			<section class="row designblock enkel menyer">
				<article class="tekst">
					<h2>{{blokk.overskrift}}</h2>
					{{blokk.tekst}}
				</article>

				<article class="fargeblokk">
					{{craft.inlin.er(blokk.menyer[0].ikon[0].url, true) | raw }}
					<h3>Våre menyer</h3>
					{{blokk.menyer[0].tekst}}
				</article>
			</section>

		{% endif %}

	{% endfor %}



		{% nav block in entry.blokktype %}
				<li>


						{% if block.type == "designblokk" %}

							{% for designblokk in block.blokktype %}
								<h2>{{designblokk.tittel}}</h2>
								<h2>{{designblokk.tekst}}</h2>

							{% endfor %}

						{% endif %}



				</li>
		{% endnav %}












		{# {% for designblokk in blokk %}

				<li>
						{% for blokk in designblokk %}

						{% endfor %}

				</li>

		{% endfor %} #}

				{# <section class="row designblock {{blokk.type}}">

					{% if blokk.bildeposisjon == 'left' %}
						<article class="designblock bilde">
							<img src="/static/img/designblockbilde.jpg">
						</article>

						<article class="tekst">
							<h2>{{blokk.overskrift}}</h2>
							{{blokk.tekst}}
						</article>

					{% else %}
						<article class="tekst">
							<h2>{{blokk.overskrift}}</h2>
							{{blokk.tekst}}
						</article>

						<article class="bilde">
							<img src="/static/img/designblockbilde.jpg">
						</article>

					{% endif %}

				</section> #}



{% endblock %}
