{% extends "_layout" %}
{% set bodyClass = "index" %}

{% block content %}
	{# {% cache until midnight %}{% minify %} #}

	{# {% endminify %}{% endcache %} #}

	{% set img = entry.toppbilde.first | default(false) %}
	{% set bilde = craft.imager.transformImage(img, [
		{ width: 320, height: 200 },
		{ width: 840, height: 400 },
		{ width: 1680, height: 530 },
		], { ratio:"16/9" }) %}


	<section class="row pageTop designblock">
		<img class="lazyload" src="{{ craft.imager.base64Pixel(16, 9) }}" data-srcset="{{bilde[0].url}} 400w, {{bilde[1].url}} 767w, {{bilde[2].url}}" alt="{{img.title | default("")}}">

		<div class="designblock tekst">
			<span class="silhouette">
				{{craft.inlin.er('/static/svg/symbols/icon-silhouette.svg') | raw }}
			</span>

			<h1>{{entry.tittel}}</h1>
			<p>{{entry.rikTekst}}</p>
		</div>

	</section>


	{% set meny = entry.meny %}
	<section class="row designblock restaurantmenu">

		<aside class="sticky-block">
			<ul>
				<li>Lunsjmeny</li>
				<li>Klassisk meny</li>
				<li>Ukens 3-retter</li>
				{# {% for enkeltmeny in meny %}
					<li>{{enkeltmeny.tittel}}</li>
				{% endfor %} #}
			</ul>
		</aside>

		<article class="sticky-block--right">

			{% for enkeltmeny in meny %}

			<article class="restaurant-menu">
				<h2>{{enkeltmeny.tittel}}</h2>

				{% for oppskrift in enkeltmeny.oppskrifter %}
					<table>
						<tr>
							<th class="table--heading title">{{oppskrift.title}}</th>
							<th class="table--heading price">{{oppskrift.oppskrift.pris}}</th>
						</tr>
						<tr>
							<td>{{oppskrift.oppskrift.tekst}}</td>
						</tr>
						<tr>
							<td>
								{% for category in oppskrift.oppskrift.allergener %}
										{% set hasDescendants = category.getDescendants().total() != 0 %}
										{% if not hasDescendants %}
											{{craft.inlin.er(category.ikon[0].url, true) | raw }}
											{{category.title}}
										{% endif %}

								{% endfor %}
							</td>
						</tr>
					</table>
					<hr>
				{% endfor %}


			</article>

			{% endfor %}
			{# {% for enkeltmeny in meny %}
				<article class="restaurant-menu--single">
					{% for oppskrift in enkeltmeny.oppskrifter %}
						<p>{{oppskrift.title}}</p>
					{% endfor %}
				</article>

			{% endfor %} #}
		</article>



	</section>



{% endblock %}
