{% extends "_layout" %}
{% set bodyClass = "restaurant" %}

{% block content %}
	{# {% cache until midnight %}{% minify %} #}

	{# {% endminify %}{% endcache %} #}

	{% set img = entry.toppbilde.first | default(false) %}
	{% set bilde = craft.imager.transformImage(img, [
		{ width: 320, height: 200 },
		{ width: 840, height: 400 },
		{ width: 1680, height: 530 },
		], { ratio:"16/9" }) %}


	<section class="row pageTop designblock">
		<img class="lazyload" src="{{ craft.imager.base64Pixel(16, 9) }}" data-srcset="{{bilde[0].url}} 400w, {{bilde[1].url}} 767w, {{bilde[2].url}}" alt="{{img.title | default("")}}">

		<div class="designblock tekst">
			<span class="silhouette">
				{{craft.inlin.er('/static/svg/symbols/icon-silhouette.svg') | raw }}
			</span>

			<h1>{{entry.tittel}}</h1>
			<p>{{entry.rikTekst}}</p>
		</div>

	</section>


	{% set meny = entry.meny %}
	<section class="row designblock restaurantmenu">

		<aside class="sticky-block">
			<ul>
				{% for enkeltmeny in meny %}
					<li {% if loop.index0 == 0 %} class="selected" {% endif %}>
						<a>{{enkeltmeny.tittel}}</a>
						<p>{{enkeltmeny.tidspunkt}}</p>
						<hr></hr>
					</li>
				{% endfor %}
			</ul>
		</aside>

		<article class="sticky-block--right">

			{% for enkeltmeny in meny %}

			<article class="restaurant-menu">
				{{craft.inlin.er(enkeltmeny.ikon[0].url, true) | raw }}
				<h2>{{enkeltmeny.tittel}}</h2>

				{% for oppskrift in enkeltmeny.oppskrifter %}
					<table>
						<tr>
							<th class="table--heading title">{{oppskrift.title}}</th>
							<th class="table--heading price">{{oppskrift.oppskrift.pris}}</th>
						</tr>
						<tr>
							<td class="table--body">{{oppskrift.oppskrift.tekst}}</td>
						</tr>
						<tr>
							<td>
								{% for category in oppskrift.oppskrift.allergener %}
									{% set hasDescendants = category.getDescendants().total() != 0 %}
									{% if not hasDescendants %}
										<div class="table-allergen">
											{{craft.inlin.er(category.ikon[0].url, true) | raw }}
											<span class="table-allergen--text">{{category.title}}</span>
										</div>
									{% endif %}
								{% endfor %}
							</td>
						</tr>
					</table>
					<hr>
				{% endfor %}

				<aside class="sticky-block">
					<ul>
						{% for enkeltmeny in meny %}
							<li {% if loop.index0 == 0 %} class="selected" {% endif %}>
								<a>{{enkeltmeny.tittel}}</a>
								<p>{{enkeltmeny.tidspunkt}}</p>
								<hr></hr>
							</li>
						{% endfor %}
					</ul>
				</aside>				


			</article>

			{% endfor %}
			{# {% for enkeltmeny in meny %}
				<article class="restaurant-menu--single">
					{% for oppskrift in enkeltmeny.oppskrifter %}
						<p>{{oppskrift.title}}</p>
					{% endfor %}
				</article>

			{% endfor %} #}
		</article>



	</section>



{% endblock %}
