{% extends "_layout" %}
{% set bodyClass = "restaurant" %}

{% block content %}
	{# {% cache until midnight %}{% minify %} #}

	{# {% endminify %}{% endcache %} #}

	{% for blokk in entry.blokkerNeo.level(1) %}
		<section class="row designblock {% if blokk.mellomrom == 0 %} nospacing {% endif %} block-parent {{loop.index}}{% if loop.index == 1 %} first {% endif %}">

			{% switch blokk.type.handle %}

					{% case 'topp' %}
						{% import '_admin/_designblocks' as designBlokkmacro %}
						{{ designBlokkmacro.designblocks(blokk) }}

					{% case 'tekstOgBilde' %}
						{% import '_admin/_designblocks' as designBlokkmacro %}
						{{ designBlokkmacro.designblocks(blokk) }}

					{% case 'slideshow' %}
						{% import '_admin/_designblocks' as designBlokkmacro %}
						{{ designBlokkmacro.designblocks(blokk) }}

					{% case 'svartBoks' %}
						{% import '_admin/_designblocks' as designBlokkmacro %}
						{{ designBlokkmacro.designblocks(blokk) }}

					{% case 'menyer' %}
						{% import '_admin/_restaurantmeny' as designBlokkmacro %}
						{{ designBlokkmacro.designblocks(blokk.menyEntry) }}

				{% endswitch %}

		</section>
	{% endfor %}


{% endblock %}
