{% extends "_layout" %}
{% set bodyClass = "selskap" %}

{% block content %}
	{# {% cache until midnight %}{% minify %} #}

	{# {% endminify %}{% endcache %} #}

	{% set img = entry.toppbilde.first | default(false) %}
	{% set bilde = craft.imager.transformImage(img, [
		{ width: 320, height: 200 },
		{ width: 840, height: 400 },
		{ width: 1680, height: 530 },
		], { ratio:"16/9" }) %}


	<section class="row pageTop designblock">
		<img class="lazyload" src="{{ craft.imager.base64Pixel(16, 9) }}" data-srcset="{{bilde[0].url}} 400w, {{bilde[1].url}} 767w, {{bilde[2].url}}" alt="{{img.title | default("")}}">

		<div class="designblock tekst">
			<span class="silhouette">
				{{craft.inlin.er('/static/svg/symbols/icon-silhouette.svg') | raw }}
			</span>

			<h1>{{entry.tittel}}</h1>
			<p>{{entry.rikTekst}}</p>
		</div>
	</section>

	<section class="row designblock arrangement-top margin-over">
		<img src="/static/img/designblockbilde.jpg">
		<aside class="bildetekst">
			Bildetekst
		</aside>
	<section>

	<section class="row designblock arrangement">

		<aside class="sticky-block">
			<div class="sticky-block--wrapper">
				<ul>
						<li>
							<a id="menu-anchor-eq1" href="#menu-eq1">Bryllup</a>
							<p>HELE ÅRET</p>
							<hr></hr>
						</li>
						<li>
							<a id="menu-anchor-eq2" href="#menu-eq2">Barnedåp</a>
							<p>HELE ÅRET</p>
							<hr></hr>
						</li>
				</ul>
			</div>
		</aside>

		<article class="designblock tekst margin-under">
			<h3>Bryllyp</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborumLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborumLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
		</article>

		<section class="row designblock black-block">
			<article class="fargeblokk">
				<h4>Bestill bord</h4>
				<p>Lorem ipsum dolor sit amet</p>
				<span class="knapp">
					<a href="#">Bestill her</a>
				</span>
			</article>
			<article class="fargeblokk">
				<h4>Selskapslokaler</h4>
				<p>Lorem ipsum dolor sit amet</p>
				<span class="knapp">
					<a href="#">Les mer</a>
				</span>
			</article>
			<article class="fargeblokk">
				<h4>Selskapslokaler</h4>
				<p>Lorem ipsum dolor sit amet</p>
				<span class="knapp">
					<a href="#">Les mer</a>
				</span>
			</article>			
		</section>

		<article class="designblock bilde">
			<img src="/static/img/designblockbilde.jpg">
				<aside class="bildetekst">
					Lorem ipsum bildetekst
				</aside>
		</article>


	</section>


	{# {% set meny = entry.meny %}
	{% set menuCount = 0 %}

	{% set menuCount = menuCount + 1  %}
	<section class="row designblock restaurantmenu">

		<aside class="sticky-block">
			<div class="sticky-block--wrapper">
				<ul>
					{% for enkeltmeny in meny %}
						<li {% if menuCount == loop.index %} class="selected" {% endif %}>
							<a id="menu-anchor-eq{{loop.index0}}" href="#menu-eq{{loop.index0}}">{{enkeltmeny.tittel}}</a>
							<p>{{enkeltmeny.tidspunkt}}</p>
							<hr></hr>
						</li>

					{% endfor %}
				</ul>
			</div>
		</aside>

		<article class="sticky-block--right">

			{% for enkeltmeny in meny %}
				<article id="menu-eq{{loop.index0}}" class="restaurant-menu">
					{{craft.inlin.er(enkeltmeny.ikon[0].url, true) | raw }}
					<h2>{{enkeltmeny.tittel}}</h2>

					{% for oppskrift in enkeltmeny.oppskrifter %}
						<table>
							<tr>
								<th class="table--heading title">{{oppskrift.title}}</th>
								<th class="table--heading price">{{oppskrift.oppskrift.pris}}</th>
							</tr>
							<tr>
								<td class="table--body">{{oppskrift.oppskrift.tekst}}</td>
							</tr>
							<tr>
								<td>
									{% for category in oppskrift.oppskrift.allergener %}
										{% set hasDescendants = category.getDescendants().total() != 0 %}
										{% if not hasDescendants %}
											<div class="table-allergen">
												{{craft.inlin.er(category.ikon[0].url, true) | raw }}
												<span class="table-allergen--text">{{category.title}}</span>
											</div>
										{% endif %}
									{% endfor %}
								</td>
							</tr>
						</table>
						<hr>
					{% endfor %}
				</article>

			{% endfor %}
		</section>


		<section class="row designblock black-block">
			<article class="fargeblokk">
				<h4>Bestill bord</h4>
				<p>Lorem ipsum dolor sit amet</p>
				<span class="knapp">
					<a href="#">Bestill her</a>
				</span>
			</article>
			<article class="fargeblokk">
				<h4>Selskapslokaler</h4>
				<p>Lorem ipsum dolor sit amet</p>
				<span class="knapp">
					<a href="#">Les mer</a>
				</span>
			</article>
		</section>

		{% for blokk in entry.designblokkNeo %}
			{% import '_admin/_designblocks' as designBlokkmacro %}
			{{ designBlokkmacro.designblocks(blokk) }}
		{% endfor %} #}


{% endblock %}
