{% extends "_layout" %}
{% set bodyClass = "selskap" %}

{% block content %}

	{# {% cache until midnight %}{% minify %} #}

	{# {% endminify %}{% endcache %} #}

	{% set img = entry.toppbilde.first | default(false) %}
	{% set bilde = craft.imager.transformImage(img, [
		{ width: 320, height: 200 },
		{ width: 840, height: 400 },
		{ width: 1680, height: 530 },
		], { ratio:"16/9" }) %}

	{% for selskap in entry.blokkerNeo.level(1) %}

		<section class="row designblock block-parent {% if loop.index == 1 %} first {% endif %}">


			{% for blokk in selskap.children %}

				{% switch blokk.type.handle %}

						{% case 'topp' %}
							<div class="block-topp">
								{% set img = blokk.toppbilde.first | default(false) %}
								{% set bilde = craft.imager.transformImage(img, [
									{ width: 320, height: 200 },
									{ width: 840, height: 400 },
									{ width: 1680, height: 530 },
									], { ratio:"16/9" }) %}

									<img class="lazyload" src="{{ craft.imager.base64Pixel(16, 9) }}" data-srcset="{{bilde[0].url}} 400w, {{bilde[1].url}} 767w, {{bilde[2].url}}" alt="{{img.title | default("")}}">

									{% if blokk.bildetekstChkbox %}
										<aside class="bildetekst designblokk {{blokk.bildetekstposisjon}}">
											{{blokk.bildetekst}}
										</aside>
									{% endif %}
							</div>

							{% if blokk.faktaboks | length %}

								<aside class="fakta-block">
									<ul>
										{% for linje in blokk.faktaboks %}
											<li>
												<strong>{{linje.tittel}}</strong>
												{{linje.tekst}}
											</li>
										{% endfor %}
									</ul>
								</aside>

							{% endif %}

							{% if blokk.tittel %}
								<div class="block-brodtekst">
									<h2>{{blokk.tittel}}</h2>
									<div class="block-rikTekst">
										{{blokk.rikTekst}}
									</div>
								</div>
							{% endif %}

						{% case 'designblokk' %}
							{% import '_admin/_designblocks' as designBlokkmacro %}
							{{ designBlokkmacro.designblocks(blokk) }}

            {% case 'svartBoks' %}
							{% import '_admin/_designblocks' as designBlokkmacro %}
							{{ designBlokkmacro.designblocks(blokk) }}

						{% case 'menyer' %}
							{% import '_admin/_restaurantmeny' as designBlokkmacro %}

							{% if entry.menyEntry | length %}
								{{ designBlokkmacro.designblocks(entry) }}
							{% endif %}

					{% endswitch %}

				{% endfor %}

			</section>

	{% endfor %}





	</section>

{% endblock %}
