{% macro designblocks(blokk) %}

    {# contents of the macro here #}

    {% if blokk.type == 'vareMenyer' %}
      {# Menyer og tekstblokk #}

      <section class="row designblock enkel menyer">
        <article class="tekst">
          {{blokk.vareMenyer[0].tekst}}
        </article>

        <article class="fargeblokk">
          {{craft.inlin.er(blokk.vareMenyer[1].ikon[0].url, true) | raw }}
          {{blokk.vareMenyer[1].tekst}}
        </article>
      </section>

    {% else %}

    {# {% set bilde = entry.listebilde | length ? entry.listebilde.first : entry.hovedbilde.first %} #}
    {% set img = blokk.bilde.first | default(false) %}
  	{% set bilde_stor = craft.imager.transformImage(img.url, [
      { width: 320, height: 400 },
  		{ width: 840, height: 600 },
  		{ width: 1360, height: 730 },
      ], { mode: 'crop', position: img.fokuspunkt | default('50% 50%') }) %}

    {% set bilde_liten = craft.imager.transformImage(img, [
      { width: 700, height: 380 },
      ], { mode: 'crop', position: img.fokuspunkt | default('50% 50%') }) %}

      {# Tekstblokk øverst, ingen bilde #}
      {% if blokk.bildeChkbox == 0 and blokk.tekstChkbox == 1 %}
        <section class="row designblock margin-{{blokk.mellomrom}}">
          <article class="designblock tekst col-{{blokk.antallKolonner}}">
            {{blokk.rikTekst}}
          </article>
        </section>

      {# Kun bilde #}
      {% elseif blokk.bildeChkbox == 1 and blokk.tekstChkbox == 0 %}
        <section class="row designblock bilde-full margin-{{blokk.mellomrom}}">
          <article class="designblock bilde">
            <img class="lazyload" src="{{ craft.imager.base64Pixel(16, 9) }}" data-srcset="{{bilde_stor[0].url}} 400w, {{bilde_stor[1].url}} 767w, {{bilde_stor[2].url}}" alt="{{img.title | default("")}}">

            {# Hvis det er bildetekst #}
            {% if blokk.bildetekstChkbox == 1 %}
              <aside class="bildetekst {{blokk.bildetekstposisjon}}">
                {{blokk.bildetekst}}
              </aside>
            {% endif %}

          </article>
        </section>

      {# Tekst og bilde #}
      {% elseif blokk.bildeChkbox == 1 and blokk.tekstChkbox == 1 %}

          {# Bildeposisjon full #}
          {% if blokk.bildeposisjon == 'full' %}

            <section class="row designblock margin-{{blokk.mellomrom}} bilde-full">

              {# Tekst over stort bilde #}
              {% if blokk.tekstChkbox == 1 %}

                <article class="designblock tekst col-{{blokk.antallKolonner}}">
                  {{blokk.rikTekst}}
                </article>

                <article class="designblock bilde">
                  <img class="lazyload" src="{{ craft.imager.base64Pixel(16, 9) }}" data-srcset="{{bilde_stor[0].url}} 400w, {{bilde_stor[1].url}} 767w, {{bilde_stor[2].url}}" alt="{{img.title | default("")}}">

                  {# Hvis det er bildetekst #}
                  {% if blokk.bildetekstChkbox == 1 %}

                    <aside class="bildetekst {{blokk.bildetekstposisjon}}">
                      {{blokk.bildetekst}}
                    </aside>

                  {% endif %}
                </article>
              {% endif %}

            </section>

          {% else %}

            {# Bildeposisjon høyre eller venstre #}
            <section class="row designblock enkel margin-{{blokk.mellomrom}}">
            {% if blokk.bildeposisjon == 'left' %}

                <article class="designblock bilde">
                  <img class="lazyload" src="{{ craft.imager.base64Pixel(16, 9) }}" data-srcset="{{bilde_liten[0].url}}" alt="{{img.title | default("")}}">
                </article>

                <article class="designblock tekst">
                  {{blokk.rikTekst}}
                </article>

            {% else %}

                <article class="designblock tekst">
                  {{blokk.rikTekst}}
                </article>

                <article class="designblock bilde">
                  <img class="lazyload" src="{{ craft.imager.base64Pixel(16, 9) }}" data-srcset="{{bilde_liten[0].url}}" alt="{{img.title | default("")}}">
                </article>

              {% endif %}
              </section>
          {% endif %}
      {% endif %}
    {% endif %}

{% endmacro %}
