{% macro designblocks(blokk) %}
{% set LP = craft.request.isLivePreview ?? false %}
    {# contents of the macro here #}


    {% if  blokk.type == 'svartBoks' %}

      <section class="row designblock black-block num-{{blokk.svartBoks | length}} {% if  blokk.getNext() | length and blokk.getNext().type == 'menyer' %} menytopp{% endif %}">
        {% for boks in blokk.svartBoks %}
          <article class="fargeblokk">
            {{boks.boks}}
          </article>
        {% endfor %}
      </section>

    {# Slideshow #}
    {% elseif blokk.type == 'slideshow' %}

    <div class="row swiper-container designblock">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
              {% for slide in blokk.bilder %}
                {% set bilde = craft.imager.transformImage(slide.bilde[0], [
                  { width: 640, height: 360 },
              		{ width: 1024, height: 576 },
              		{ width: 1360, height: 765 },
                  ], { mode: 'crop', position: bilde.fokuspunkt | default('50% 50%') }) %}
              <div class="swiper-slide designblock bilde" {% if blokk.autoplay %} data-swiper-autoplay='{{blokk.hastighet.value}}' {% endif %}>
                  <img class="lazyload" {{ not LP ? 'data-' }}srcset="{{bilde[0].url}} 400w, {{bilde[1].url}} 767w, {{bilde[2].url}}" src="{{ craft.imager.base64Pixel(16, 9) }}" alt="{{img.title | default("")}}">
              {% if slide.bildetekst %}
                <aside class="bildetekst designblokk {{slide.bildetekstposisjon}}">
                  {{slide.bildetekst}}
                </aside>
              {% endif %}
              </div>
              {% endfor %}
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>

    {% elseif blokk.type == 'topp' %}
    {# Topp #}
      <div class="block-topp">
        {% set img = blokk.bilde.first | default(false) %}
        {% set bilde = craft.imager.transformImage(img, [
          { width: 320, height: 200 },
          { width: 840, height: 400 },
          { width: 1680, height: 530 },
          ], { ratio:"16/9" }) %}

          {% if blokk.bildetekst | length %}
            <aside class="bildetekst designblokk {{blokk.bildetekstposisjon}}">
              {{blokk.bildetekst}}
            </aside>
          {% endif %}

          <img class="lazyload" {{ not LP ? 'data-' }}srcset="{{bilde[0].url}} 400w, {{bilde[1].url}} 767w, {{bilde[2].url}}" src="{{ craft.imager.base64Pixel(16, 9) }}" alt="{{img.title | default("")}}">


      </div>

      {% if blokk.faktaboks | length %}

        <aside class="fakta-block">
          <ul>
            {% for linje in blokk.faktaboks %}
              <li>
                <strong>{{linje.tittel}}</strong>
                <p>{{linje.tekst}}</p>
              </li>
            {% endfor %}
          </ul>
        </aside>

      {% endif %}

      {% if blokk.tittel %}
        <div class="block-brodtekst {{blokk.align}}">
          <h2>{{blokk.tittel}}</h2>
          <div class="block-rikTekst">
            {{blokk.tekst}}
          </div>
        </div>
      {% endif %}

      {% if blokk.faktaboks | length %}

        <aside class="fakta-block mobile">
          <ul>
            {% for linje in blokk.faktaboks %}
              <li>
                <strong>{{linje.tittel}}</strong>
                <p>{{linje.tekst}}</p>
              </li>
            {% endfor %}
          </ul>
        </aside>

      {% endif %}
    {% else %}
    {# {% set bilde = entry.listebilde | length ? entry.listebilde.first : entry.hovedbilde.first %} #}

      {# Tekstblokk øverst, ingen bilde #}
      {% if blokk.bilde | length %}
        {% set img = blokk.bilde | length ? blokk.bilde.first %}
      	{% set bilde_stor = craft.imager.transformImage(img.url, [
          { width: 320, height: 400 },
      		{ width: 840, height: 570 },
      		{ width: 1360, height: 670 },
          ], { mode: 'crop', position: img.fokuspunkt | default('50% 50%') }) %}

        {% set bilde_liten = craft.imager.transformImage(img, [
          { width: 700, height: 380 },
          ], { mode: 'crop', position: img.fokuspunkt | default('50% 50%') }) %}
      {% endif %}

      {% if not blokk.bilde | length and blokk.tekst | length %}
        <section class="row designblock">
          <article class="designblock tekst col-{{blokk.antallKolonner}}">
            {{blokk.tekst}}
          </article>
        </section>

      {# Kun bilde #}
      {% elseif blokk.bilde | length and not blokk.tekst | length %}

        <section class="row designblock bilde-full">
          <article class="designblock bilde">

            {# Hvis det er bildetekst #}
            {% if blokk.bildetekst | length %}
              <aside class="bildetekst {{blokk.bildetekstposisjon}}">
                {{blokk.bildetekst}}
              </aside>
            {% endif %}

            <img class="lazyload" {{ not LP ? 'data-' }}srcset="{{bilde_stor[0].url}} 400w, {{bilde_stor[1].url}} 767w, {{bilde_stor[2].url}}" src="{{ craft.imager.base64Pixel(16, 9) }}" alt="{{img.title | default("")}}">

          </article>
        </section>

      {# Tekst og bilde #}
      {% elseif blokk.bilde | length and blokk.tekst | length %}

          {# Bildeposisjon full #}
          {% if blokk.bildeposisjon == 'full' %}

            <section class="row designblock bilde-full">

              {# Tekst over stort bilde #}
              {% if blokk.tekst | length %}

                <article class="designblock tekst col-{{blokk.antallKolonner}}">
                  {{blokk.tekst}}
                </article>

                <article class="designblock bilde">

                  {# Hvis det er bildetekst #}
                  {% if blokk.bildetekst | length %}

                    <aside class="bildetekst {{blokk.bildetekstposisjon}}">
                      {{blokk.bildetekst}}
                    </aside>

                  {% endif %}

                  <img class="lazyload" {{ not LP ? 'data-' }}srcset="{{bilde_stor[0].url}} 400w, {{bilde_stor[1].url}} 767w, {{bilde_stor[2].url}}" src="{{ craft.imager.base64Pixel(16, 9) }}" alt="{{img.title | default("")}}">

                </article>
              {% endif %}

            </section>

          {% else %}

            {# Bildeposisjon høyre eller venstre #}
            <section class="row designblock enkel">
            {% if blokk.bildeposisjon == 'left' %}

                <article class="designblock bilde">
                  <img class="lazyload" {{ not LP ? 'data-' }}srcset="{{bilde_liten[0].url}}" src="{{ craft.imager.base64Pixel(16, 9) }}" alt="{{img.title | default("")}}">
                </article>

                <article class="designblock tekst">
                  {{blokk.tekst}}
                </article>

            {% else %}

                <article class="designblock tekst">
                  {{blokk.tittel}}
                  {{blokk.tekst}}
                </article>

                <article class="designblock bilde">
                  <img class="lazyload" {{ not LP ? 'data-' }}srcset="{{bilde_liten[0].url}}" src="{{ craft.imager.base64Pixel(16, 9) }}" alt="{{img.title | default("")}}">
                </article>

              {% endif %}
              </section>
          {% endif %}
      {% endif %}
    {% endif %}


{% endmacro %}
