{% macro designblocks(blokk) %}
{# // Hvis det kommer fra neo-blokk #}

{% set meny = blokk.menyEntry %}
{% set menuCount = 0 %}
{% set menuCount = menuCount + 1  %}

<section class="row restaurant-menu-parent">
  <aside class="sticky-block">
    <div class="sticky-block--wrapper">
      <ul>
        <h1>{{meny.index}}</h1>
        {% for enkeltmeny in meny.all() %}
          <li {% if menuCount == loop.index %} class="selected" {% endif %}>
            <a id="menu-anchor-eq{{loop.index0}}" href="#menu-eq{{loop.index0}}">{{enkeltmeny.title}}</a>
            <p>{{enkeltmeny.notis}}</p>
            <hr></hr>
          </li>
        {% endfor %}
      </ul>
    </div>
  </aside>

  <article class="sticky-block--right">

    {% for enkeltmeny in meny.all() %}
      <article id="menu-eq{{loop.index0}}" class="restaurant-menu {{enkeltmeny.align}}">
        {{craft.inlin.er(enkeltmeny.ikon[0].url, true) | raw }}
        <h2>{{enkeltmeny.title}}</h2>

        {% if enkeltmeny.egenPris %}
          <span class="pris">{{enkeltmeny.pris}}</span>
        {% endif %}

        <p class="menu-beskrivelse">{{enkeltmeny.rikTekst}}</p>

        {% if currentUser %}
          <aside class="printThis">
            <div class="printThis--wrapper">
              {{craft.inlin.er('/static/svg/symbols/icon-print.svg') | raw }}
            </div>
            <a href="">Skriv ut</a>
          </aside>
        {% endif %}

        {% set overskrift = 0 %}

        {% for rett in enkeltmeny.retter.all() %}

          {% if rett.rett.overskrift %}
            {% set overskrift = overskrift + 1 %}
          {% endif %}

          {% if (overskrift > 1) and (rett.rett.overskrift) %}
            <div class="break-page" style="page-break-before: always; break-before: page;"></div>
          {% endif %}

          <article class="menu-item--wrapper {% if not (rett.rett.overskrift) %} avoid-break{% endif %} ">
            <div class="menu-item--row">
              <div class="menu-item--cell-wrapper table--heading title {% if rett.rett.overskrift %}table-overskrift{% endif %}">
                <div class="menu-item--cell">
                  {{rett.title}}
                </div>
              </div>
              {% if rett.rett[0].pris %}
                <div class="menu-item--cell-wrapper table--heading price">
                  <div class="menu-item--cell">
                    {{rett.rett[0].pris}}
                  </div>
                </div>
              {% endif %}
            </div>
            {% if rett.rett[0].tekst | length %}
            <div class="menu-item--row">
              <div class="menu-item--cell-wrapper table--body">
                <div class="menu-item--cell table-tekst">
                  {{rett.rett[0].tekst}}
                </div>
              </div>
            </div>
            {% endif %}

            <div class="menu-item--row">
              <div class="menu-item--cell-wrapper">

              {% for category in rett.rett.one().allergener %}
                {% set hasDescendants = category.getDescendants().total() != 0 %}
                {% if not hasDescendants %}

                      <div class="menu-item--cell table-allergen">
                        {{craft.inlin.er(category.ikon[0].url, true) | raw }}
                        <span class="table-allergen--text">{{category.title}}</span>
                      </div>

                {% endif %}
              {% endfor %}

              </div>
            </div>

          </article>
          <hr>

        {% endfor %}
      </article>
    {% endfor %}
  </section>

{% endmacro %}
